
header{
    position: fixed;
    background-color: white;
    z-index: 1;
}
header h1{
    font-family: 'Playfair Display', serif;
    font-size: 5vmin;
    letter-spacing: 2px;
    padding: 15px 0px;
}
header a{
    color: black;
}
header a:hover{
    text-decoration: none;
    color: darkgray;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
nav p{
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    letter-spacing: 1px;
}
.jumbotron{
    position: relative;
    top: 80px;
    background-image: url('../images/jumbotronImg.jpg');
    height: 100vmin;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
} 
.jumbotron h2{
    font-weight: 700;
    font-size: 5vmin;
    color: whitesmoke;
    line-height: 50px;
    text-shadow: 1px 2px 5px black;
}
.jumbotron span{
    color: skyblue;
}
main{
    position: relative;
    top: 60px;
}
.tech-info{
    margin: 100px 0px 80px 0px;
}
.tech-info h2{
    font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    text-decoration: underline solid darkgray;
}
.tech-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tech-info-box img{
    width: 8.5vmax;
    height: auto;
}
.projects-info{
    margin: 150px 0px 60px 0px;
}
.projects-info h2{
    font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    text-decoration: underline solid darkgray;
}
.projects-info-box{
    padding: 15px;
}
.projects-info-box img{
    width: 15vmax;
    height: auto;
    border: groove darkgrey 2px;
    border-radius: 5px;
}
.projects-info-box img:hover{
    -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.projects-info-box p{
    font-family: 'Playfair Display', serif;
    font-size: 3vmin;
}
@media(max-width: 1000px){
    header h1{
        font-family: 'Playfair Display', serif;
        font-size: 7vmin;
        letter-spacing: 2px;
        padding: 15px 0px;
    }  
    nav p{
        font-family: 'Raleway', sans-serif;
        font-size: 4vmin;
        letter-spacing: 1px;
    }
    .jumbotron h2{
        font-weight: 700;
        font-size: 6vmin;
        color: whitesmoke;
        line-height: 70px;
        text-shadow: 1px 2px 5px black;
    }
}
