body{
    background-color: #9ecb76;
}
header{
    position: fixed;
    background-color: #eee3d4;
    z-index: 1;
}
header h1{
    font-family: 'Playfair Display', serif;
    font-size: 5vmin;
    letter-spacing: 2px;
    padding: 15px 0px;
}
header a{
    color: black;
}
header a:hover{
    text-decoration: none;
    color: #3e5986;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
nav p{
    font-family: 'Raleway', sans-serif;
    font-size: 3vmin;
    letter-spacing: 1px;
}
nav a:hover{
    border: #9ecb76 solid 1px;
    border-radius: 3px;
    color: #3e5986;
}
.jumbotron{
    position: relative;
    top: 80px;
    background-image: url('../images/jumbotronImg.jpg');
    height: 100vmin;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
} 
.jumbotron h2{
    font-weight: 700;
    font-size: 5vmin;
    color: whitesmoke;
    line-height: 50px;
    text-shadow: 1px 2px 5px black;
}
.jumbotron span{
    color: skyblue;
}
main{
    position: relative;
    top: 60px;
}
.tech-info{
    margin: 40px 0px 0px 0px;
}
.tech-info h2{
    font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    text-decoration: underline solid darkgray;
    margin-bottom: 40px;
}
.tech-info-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tech-info-box img{
    width: 6vmax;
    height: auto;
}
.projects-info{
    margin: 60px 0px 60px 0px;
    border-top: white solid 1px;
}
.projects-info h2{
    font-family: 'Playfair Display', serif;
    font-size: 4vmin;
    text-decoration: underline solid darkgray;
    margin-top: 30px;
}
.projects-info-box{
    padding: 15px;
}
.projects-info-box img{
    width: 10vmax;
    height: auto;
    border: groove darkgrey 2px;
    border-radius: 5px;
}
.projects-info-box img:hover{
    -webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.projects-info-box p{
    font-family: 'Playfair Display', serif;
    font-size: 3vmin;
}
footer{
    background-color: #3e5986;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid white;
	margin-top: 100px;
}
footer div{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
}
footer img{
	width: 3vmax;
	height: auto;
}
footer img:hover{
	opacity: 0.5;
}
footer h4{
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 3vmin;
	width: 30%;
}
.githubDiv{
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.imgDiv{
	width: 30%;
	display: flex;
	justify-content: space-around;
}
.imgDiv img{
    width: 2.5vmax;
    height: auto;
}
@media(max-width: 1000px){
    header h1{
        font-family: 'Playfair Display', serif;
        font-size: 7vmin;
        letter-spacing: 2px;
        padding: 15px 0px;
    }  
    nav p{
        font-family: 'Raleway', sans-serif;
        font-size: 4vmin;
        letter-spacing: 1px;
    }
    .jumbotron h2{
        font-weight: 700;
        font-size: 6vmin;
        color: whitesmoke;
        line-height: 70px;
        text-shadow: 1px 2px 5px black;
    }
}
